global
  log     127.0.0.1 alert
  log     127.0.0.1 alert debug
  chroot  /var/lib/haproxy
  pidfile /var/run/haproxy.pid
  maxconn 3000
  daemon
  user    haproxy
  group   haproxy

defaults
  mode    http
  log     global
  option  dontlognull
  option  persist
  option  redispatch
  option  http-server-close
  retries 3
  timeout http-request 5000
  timeout http-keep-alive 5000
  timeout server 5000
  timeout check 5000
  timeout connect 5000
  timeout client  50000
  timeout server  50000

listen haproxy-stats
    bind  *:1936
    mode  http
    stats enable
    stats hide-version
    stats refresh 5s
    stats uri     /haproxy?stats
    stats realm   Haproxy\ Statistics
    stats auth    haproxy:haproxy

listen rabbitmq
    bind    *:5672
    mode    tcp
    option  tcplog
    balance roundrobin
    server  rabbitmq-node-0 rabbitmq-node-0:5672 check inter 5000 rise 3 fall 5 weight 1
    server  rabbitmq-node-1 rabbitmq-node-1:5672 check inter 5000 rise 3 fall 5 weight 2
    server  rabbitmq-node-2 rabbitmq-node-2:5672 check inter 5000 rise 3 fall 5 weight 2
    server  rabbitmq-node-3 rabbitmq-node-3:5672 check inter 5000 rise 3 fall 5 weight 2
    server  rabbitmq-node-4 rabbitmq-node-4:5672 check inter 5000 rise 3 fall 5 weight 1
    server  rabbitmq-node-5 rabbitmq-node-5:5672 check inter 5000 rise 3 fall 5 weight 1
    